@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0b0b0b;
  --foreground: #f5f5f5;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
